<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments :: header">HEADER STUFF</div>
This is add.html <span th:text="${currentDate}"></span>
<p>
    <form method="post" th:action="@{/add}" th:object="${urlDTO}">
    <label for="url">URL:</label><input name="url" type="text" th:field="*{url}"/>
    <label for="tagsStr">TAGS:</label><input name="tagsStr" type="text" th:field="*{tagsStr}"/>
    <div>
        <label>Tags:
            <input type="checkbox" name="tags"
                   th:each="tag : ${tagChoices}"
                   th:text="${tag.tag}"
                   th:value="${tag.tag}"
                   th:field="*{tags}"/>
        </label>
    </div>
    <input type="submit">
</form>
</p>
<div th:insert="fragments :: footer">FOOTER STUFF</div>
</html>
